@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  color: #fff;
}

header {
  text-align: center;
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.15);
  padding: 20px;
  border-radius: 15px;
  text-align:justify;
  text-indent: 40px;
  
  transition: 0.3s;
}


.card:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #f6c23e;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 600px) {
  header {
    font-size: 20px;
  }
}